<h1>edit</h1>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</p>
	<p>
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</p>
	<p>
		<%= f.label :dateofbirth %>
		<%= f.date_field :dateofbirth %>
	</p>
	<p>
		<%= f.label :address %>
		<%= f.text_area :address %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	
<% end %>