<h1 align="center"><%= @user.firstname + " " + @user.lastname %></h1>

<div align="center" class="user-img">
	<%= image_tag(@user.image.thumb.url, size: "500x500") %>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 col-md-offset-1" align="right">
			<p class="book-head">Firstname : </p>
		</div>
		<div class="col-md-8">
			<p class="book-des"><%= @user.firstname %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 col-md-offset-1" align="right">
			<p class="book-head">Lastname : </p>
		</div>
		<div class="col-md-8">
			<p class="book-des"><%= @user.lastname %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 col-md-offset-1" align="right">
			<p class="book-head">Email : </p>
		</div>
		<div class="col-md-8">
			<p class="book-des"><%= @user.email %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 col-md-offset-1" align="right">
			<p class="book-head">Date of birth : </p>
		</div>
		<div class="col-md-8">
			<p class="book-des"><%= @user.dateofbirth %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 col-md-offset-1" align="right">
			<p class="book-head">Address : </p>
		</div>
		<div class="col-md-8">
			<p class="book-des"><%= @user.address %></p>
		</div>
	</div>
</div>