<h1>show</h1>

<p>
	<%= image_tag @user.image.thumb.url %>
</p>

<p>
	Firstname : <%= @user.firstname %>
</p>

<p>
	Lastname : <%= @user.lastname %>
</p>

<p>
	DateOfBirth : <%= @user.dateofbirth %>
</p>

<p>
	Address : <%= @user.address %>
</p>
