<h1>Edit book</h1>

<%= form_for @book do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<div>
		<%= f.collection_select(:category_id, Category.all, :id, :categoryname) %>
	</div>


	<p>
		<%= f.submit %>
	</p>
<% end %>