<h1>Show book</h1>

<p>
	<%= image_tag @book.image.thumb.url %>
</p>

<p>
	Titile : <%= @book.title %>
</p>

<p>
	Author : <%= @book.author %>
</p>

<p>
	price : <%= @book.price %>
</p>

<p>
	description : <%= @book.description %>
</p>