<h1 align="center"><%= @book.title %></h1>

<div align="center" class="user-img">
  <%= image_tag(@book.image.thumb.url, size: "500x500") %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-1" align="right">
      <p class="book-head">Title : </p>
    </div>
    <div class="col-md-8">
      <p class="book-des"><%= @book.title %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-1" align="right">
      <p class="book-head">Author : </p>
    </div>
    <div class="col-md-8">
      <p class="book-des"><%= @book.author %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-1" align="right">
      <p class="book-head">Category : </p>
    </div>
    <div class="col-md-8">
      <p class="book-des"><%= @book.category.categoryname %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-1" align="right">
      <p class="book-head">Price : </p>
    </div>
    <div class="col-md-8">
      <p class="book-des"><%= @book.price %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-1" align="right">
      <p class="book-head">Description : </p>
    </div>
    <div class="col-md-8">
      <p class="book-des"><%= @book.description %></p>
    </div>
  </div>
</div>