<h1 align="center">Book-Store</h1>

<h3>Top sales</h3>

<div class="col-md-12" style="margin-bottom: 20px">
  <% num = 0 %>
  <% Book.order(buy_amount: :desc).each do |book| %>
    <% if num != 4 %>
      <div class="col-md-3" align="center">
        <div style="margin-bottom: 20px">
          <%= image_tag(book.image.thumb.url, size: "250x350") %>
        </div>
        <% if Shoppingcart.where(user: current_user, book: book).count == 0 %>
          <div>
            <%= link_to "Buy", shoppingcart_path(book), class: "btn btn-lg btn-success" %>
          </div>
        <% else %>
          <div>
            <%= link_to "Buy", shoppingcart_path(book), class: "btn btn-lg btn-success disabled" %>
          </div>
        <% end %>
      </div>
      <% num += 1 %>
    <% else %>
      <% break %>
    <% end %>
  <% end %>
</div>


<% if logged_in?  && current_user.orders.count > 0%>
  <h3>Recommend books</h3>

  <div class="col-md-12">
    <% numbook = 0 %>
    <% Book.tagged_with((current_user.freq_tag).key((current_user.freq_tag).values.max)).each do |book| %>
      <% if numbook != 4 %>
        <% if Shoppingcart.where(user: current_user, book: book).count != 0 %>
          <% next %>
        <% else %>
          <div class="col-md-3" align="center">
            <div style="margin-bottom: 20px">
              <%= image_tag(book.image.thumb.url, size: "250x350") %>
            </div>
            <div>
              <%= link_to "Buy", shoppingcart_path(book), class: "btn btn-lg btn-success" %>
            </div>
          </div>
          <% numbook += 1 %>
        <% end %>
      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </div>
<% end %>
