<h1 align="center">Your wishlist</h1>

<% @user.wishlists.each do |wishlist| %>
  <div class="row">
    <ul class="listing">
      <div class="well col-md-12">
        <div class="col-xs-2 col-xs-offfset-2">
          <li><%= image_tag(wishlist.book.image.thumb.url, size: "150x150") %></li>
        </div>
        <div class="col-xs-10">
          <li class="listname"><%= link_to "#{wishlist.book.title}", book_path(wishlist.book) %></li>
          
          <div class="btn-category">
            <%= link_to "#{wishlist.book.category.categoryname}", category_path(wishlist.book.category), class: "btn btn-xs btn-info" %>
          </div>
          
          <div>
            <%= link_to "Edit this book", edit_book_path(wishlist.book), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this book", book_path(wishlist.book), method: :delete, data: {confirm: "Are you sure to delete this book?"}, class: "btn btn-xs btn-danger" %>
          </div>
        </div>
        <% if logged_in? %>
          <div class="btn-bottom-right">
            <%= link_to "Remove from wishlist", wishlist_path(wishlist), method: :delete, class: "btn btn-xs btn-danger" %>
            <% if Shoppingcart.where(user: current_user, book: wishlist.book).take == nil %>
                <%= link_to "<button class='btn btn-xs btn-success'><span class='glyphicon glyphicon-shopping-cart'></span> Add to cart</button>".html_safe, shoppingcart_path(wishlist.book) %>
              <% else %>
                <%= link_to "<button class='btn btn-xs btn-success disabled'><span class='glyphicon glyphicon-shopping-cart'></span> Add to cart</button>".html_safe, shoppingcart_path(wishlist.book) %>
              <% end %>
          </div> 
        <% end %>
      </div>
    </ul>
  </div>
<% end %>