<!DOCTYPE html>
<html>
<head>
  <title>BookStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation' %>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<% flash.each do |name, msg| %>
				<div class='alert alert-<%="#{name}" %>'>
					<a href="#" class="close" data-dismiss="alert">&#215;</a>
					<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="container">
		<%= yield %>
	</div>

  <%= render 'layouts/footer' %>

</body>
</html>
